# Keil generated folders
Objects/
Listings/

# Build output files
*.axf
*.hex
*.map
*.lst
*.bak
*.dep
*.crf

# Object & dependency files
*.o
*.d

# Keil intermediate files
*.i     # Preprocessed C file
*.s     # Assembly output
*.tra   # Trace file

# Keil project user-specific files
*.uvgui*
*.uvopt*
*.ini
